@font-face {
  font-family: "icomoon";
  src: url("images/icon/icomoon.eot?zedilj");
  src: url("images/icon/icomoon.eot?zedilj#iefix") format("embedded-opentype"),
    url("images/icon/icomoon.ttf?zedilj") format("truetype"),
    url("images/icon/icomoon.woff?zedilj") format("woff"),
    url("images/icon/icomoon.svg?zedilj#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-btn-arrow:before {
  content: "\e900";
}

*,
body {
  font-family: "Poppins", sans-serif;
  font-feature-settings: "clig" off, "liga" off;
}
body,
html {
  overflow-x: hidden;
}
body:before {
  content: "";
  flex-shrink: 0;
  width: 856.986px;
  height: 62.307px;
  transform: rotate(49.377deg);
  flex-shrink: 0;
  position: absolute;
  border-radius: 856.986px;
  background: #fff;
  filter: blur(222px);
}
section {
  overflow: hidden;
}
.lineBefore::before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  width: 40px;
  height: 1px;
  background: #ffffff99;
  top: 50%;
  transform: translateY(-50%);
}
.bg-item {
  background: rgba(255, 255, 255);
  backdrop-filter: blur(7px);
  height: 100%;
}
.bg-invest:before {
  content: "";
  display: block;
  position: absolute;
  border-radius: 200px;
  background: linear-gradient(90deg, #f1f101 0%, rgba(241, 241, 1, 0) 100%);
  filter: blur(325px);
  width: 286.351px;
  height: 364.998px;
  flex-shrink: 0;
  left: 0;
  bottom: -20%;
}
.bg-invest {
  position: absolute;
}
.ecosystem-bg {
  position: absolute;
  right: 0;
}
.ecosystem-bg:before {
  content: "";
  border-radius: 200px;
  background: linear-gradient(90deg, #65edff 0%, #65edff 100%);
  width: 104.709px;
  height: 204.986px;
  transform: rotate(-153.194deg);
  flex-shrink: 0;
  filter: blur(450px);
  position: absolute;
  bottom: -10%;
  display: block;
  right: 0;
}
body::after {
  content: "";
  display: block;
  position: absolute;
  background: url(./images/eco-bg.png) no-repeat left;
  left: 0;
  height: 1300px;
  width: 600px;
  top: 35%;
  background-size: contain;
  transform: translateY(-50%);
}
body{
  position: relative;
}
.accordion-content {
  display: none;
  max-height: 0;
  overflow: hidden;
  transition: all .3s ease;
}
.accordion-content.open {
  display: block;
  max-height: 500px;
  padding: 0 24px 24px;
  margin-top: -8px;
}
.menu-name{
  display: none;
}
@keyframes fadeUp2 {
  0% {
      opacity: 0;
      transform: translateY(50px);
  }
  50% {
      opacity: 0;
      transform: translateY(50px);
  }
  100% {
      opacity: 1;
      transform: translateY(0);
  }
}

.animate-fadeUp2 {
  animation: fadeUp2 1.5s ease-in-out;
}
.animate-fadeUp {
  animation: fadeUp2 2s ease-in-out;
}
@media (max-width: 991px) {
  header .navigation {
      position: fixed;
      bottom: 0px;
      top: 0;
      left: 0;
      z-index: 40;
      height: 100vh;
      width: 0;
      max-width: 250px;
      transition: all .3s ease;
      background: #18191B;
      left: -300px;
      padding: 24px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      gap: 20px;
  }
  section {
      overflow: unset;
  }
  header .social-icons {
      position: fixed;
      bottom: 28px;
      left: 24px;
      z-index: 999;
      transition: all .3s ease;
      opacity: 0;
  }
  header.toggleMenu .social-icons{
    opacity: 1;
  }

  header.toggleMenu .menu-name{
    display: block;
  }
  .hamburger {
    display: flex;
    width: 22px;
    align-items: center;
    justify-content: center;
    gap: 4px;
    position: relative;
    z-index: 9999;
    cursor: pointer;
  }
  header.toggleMenu .navigation{
    width: 100%;
    left: 0;
  }
  .hamburger span {
    transition: all .3s ease;
    position: relative;
    display: block;
    min-height: 2.33px;
    width: 100%;
    border-radius: 0.125rem;
    background: #fff;
  }
  header.toggleMenu .hamburger > span:nth-child(1) {
    transform: rotate(225deg) translate(0, -4px);
  }
  header.toggleMenu .hamburger > span:nth-child(2) {
    display: none;
  }
  header.toggleMenu .hamburger > span:nth-child(3) {
    transform: rotate(-45deg) translate(0, -5px);
  }
}
@media (max-width: 767px) {
  body:before {
    width: 296.986px;
    height: 42.307px;
  }
  .accordion-content.open {
    display: block;
    max-height: 500px;
    padding: 0 16px 16px;
    margin-top: -8px;
  }
}
